body {
    background-color: #f7f7f7;
    
}
.button {
    display: flex;
    width: 200px;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 41%;
}

.btn{
    margin-bottom: 10px;
    border-radius: 30px;
    
}

.btn button {
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    color: rgb(10, 70, 160);
    background: rgb(252, 249, 249);
    border-radius: 30px;
    box-shadow: 0px 10px 16px -8px rgba(0,0,0,0.2)}



.btn :hover {
    color: rgb(243, 241, 241);
    background: rgb(241, 120, 120);
}